# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VC++

*.pdb
*.tlog
*.idb
*.ipdb
*.iobj
*.recipe
*.lastbuildstate
*.FileListAbsolute.txt
*.VC.opendb
*.VC.db-wal
*.VC.db-shm
